# Ignore bundler config.
.bundle

# Ignore all logfiles, reports and tempfiles.
log/*
!log/.keep
tmp
reports

# Ignore html files and xml report files
*.html
*.xml

# Ignore cucumber files
**/rerun.txt

# Ignore vendor/ruby
vendor